<div class="carousel py-2">
  <div class="d-flex gap-2 pb-4">
    <div class="card" style="width: 14rem;">
      <div class="image" style="background-image: url('assets/cardapio/cowboy44especial.jpg')"></div>
      <div class="card-body">
        <p class="card-text">COWBOY 44 especial ( sanduiche família especial )</p>
        <p class="preco"><span>R$29,90</span></p>
      </div>
    </div>
    <div class="card" style="width: 14rem;">
      <div class="image" style="background-image: url('assets/cardapio/cowboy44simples.jpg')"></div>
      <div class="card-body">
        <p class="card-text">COWBOY 44 SIMPLES ( sanduiche família simples )</p>
        <p class="preco"><span>R$29,90</span></p>
      </div>
    </div>
  </div>
</div>
